body {
    font-family: 'Roboto', sans-serif;
    background: #fefefe;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
    text-decoration: none;
}
