body {
    font-family: 'Roboto', sans-serif;
    background: #fefefe;
}

.prevent-scroll {
    height: 100vh;
    overflow-y: hidden;
  }

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
    text-decoration: none;
}
