.page-section {
    padding: 1.2rem 0;

    @include atMedium {
        padding: 4.5rem 0;  
    }
    
    &--blue {
        background-color: $mainBlue;
        color: #fff;
    }

    &--testimonials {
        background: #e0e6ef;
        padding: 1.2rem 0 0 0;
        @include atMedium {
            background: url(/assets/images/testimonials-bg.jpg) top center no-repeat;
            background-size: cover;
            padding: 1.2rem 0 4.2rem 0;
        }
    }
}